[user]
	email = chezbgone@gmail.com
	name = Jason Chen
	signingkey = 69AB830B5EE5F093

[alias]
	hist = log --pretty=format:'%C(yellow)%h %C(red)%ad %C(reset)| %s%C(green)%d %C(cyan)[%an]' --decorate --date=human --graph
	undo = reset --soft HEAD~1
	ss = status -s -b
	co = commit

[includeIf "gitdir:~/Dropbox/MIT/6_031/"]
	path = ~/.gitconfig.mit

[includeIf "gitdir:~/Dropbox/MIT/6_004/"]
	path = ~/.gitconfig.mit

[includeIf "gitdir:~/Dropbox/MIT/6_172/"]
	path = ~/.gitconfig.mit
[pull]
	rebase = false
